/* home page */
.container {
  max-width: 2000px;
  justify-content: center;
  text-align: center;
}

form {
  text-align: left;
}

.homeImg {
  height: 500px;
}

.homeDescription {
  max-width: 600px;
  margin: auto;
  padding: 10px;
}

.searchRescueButton {
  margin-right: 100px;
}

/* Rescue page */
.rescueSection {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
}

.eachRescue {
  padding: 10px;
  min-width: 400px;
  max-width: 400px;
  box-sizing: border-box;
  border: 1px solid black;
}

li {
  list-style-type: none;
}

/* dog page */
.dogSection {
  max-width: 2000px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
}

.eachDog {
  padding: 10px;
  min-width: 500px;
  max-width: 500px;
  box-sizing: border-box;
  border: 1px solid black;
}

/* ********************************** */

/* pagination */
.pagination {
  margin-top: 20px;
  justify-content: center;
  margin-right: 40px;
}

.pagination button {
  margin-left: 50px;
}

/* **************FILTER PAGE******************** */
#container-filter {
  max-width: 400px;
  justify-content: left;
  text-align: left;
}


#filterSection > section:not(#filterHeaderBar) {
  padding-top: 25px;
  padding-bottom: 10px;
  border-bottom: 2px solid #eee;
}

#filterHeaderBar {
  padding-top: 25px;
  padding-bottom: 0;
}

#filterTitle {
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  margin-left: -15px;
  margin-top: 6px;
}

.heading {
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
}

/* SIDE BAR */
#sidebar {
  position: fixed;
  width: 30%;
  height: fit-content;
  left: -30%;
  background-color: rgb(245, 244, 240);
}

#sidebar li {
  color: white;
  font-size: 30px;
  padding: 30px;
  border-bottom: 1px solid gray;
  text-align: center;
}

#sidebar.active {
  left: 0;
}

